@model DateRangeFilter


<div class="filter-group date-range-filter">
    <div class="filter-title text-capitalize">
        @Model.Title <i class="fas fa-chevron-down"></i>
    </div>
    <div class="filter-content p-lr-1 p-t-1">
        <div class="d-flex flex-column gap-2">
            <input type="date" class="filter-range-date form-control filter-range-input"
                   value="@Model.MinDate?.ToString("yyyy-MM-dd")"
                   data-key="@Model.MinRequestKey" 
                   style="display: inline-block"/>

            <span class="text-center text-muted">-</span>

            <input type="date" class="filter-range-date form-control filter-range-input"
                   value="@Model.MaxDate?.ToString("yyyy-MM-dd")"
                   data-key="@Model.MaxRequestKey" 
                   style="display: inline-block"/>
        </div>
    </div>
</div>